[submodule "Adafruit_NeoPixel"]
	path = Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "ResponsiveAnalogRead"]
	path = ResponsiveAnalogRead
	url = https://github.com/dxinteractive/ResponsiveAnalogRead.git
[submodule "Timer"]
	path = Timer
	url = https://github.com/JChristensen/Timer.git
[submodule "pushbutton-arduino"]
	path = pushbutton-arduino
	url = https://github.com/pololu/pushbutton-arduino.git
[submodule "FastLED"]
	path = FastLED
	url = https://github.com/FastLED/FastLED.git
